body{
    background: #c0c0c0;
    font-family: open sans;
}

header{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

main{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

h2{
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.5s;
}

.altlink:hover{
    color: #886d00;
    cursor: pointer;
}

.altlink:active {
    color: #ffcc01;
    cursor: pointer;
    transition: 0s;
}

.astralink:hover{
  color: #01598b;
  cursor: pointer;
}

.astralink:active {
  color: #007ac3;
  cursor: pointer;
  transition: 0s;
}

.redoslink:hover{
  color: #8a1b15;
  cursor: pointer;
}

.redoslink:active {
  color: #cd271f;
  cursor: pointer;
  transition: 0s;
}