body{
    background: #c0c0c0;
    font-family: open sans;
}
  
header{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
  
main{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}
  
.card{
    cursor: pointer;
    width: 320px;
    height: 320px;
    border-radius: 40px 0px 40px 0px;
    border: none;
    background: #d0d0d0;
    box-shadow:  -20px -20px 60px #b1b1b1,
               20px 20px 60px #efefef;
    transition: 0.5s;
}
  
.card:hover{
    box-shadow:  20px 20px 60px #b1b1b1,
               -20px -20px 60px #efefef;
}
  
.card:active {
    box-shadow: inset 16px 16px 60px #c1c1c1, inset -16px -16px 60px #efefef;
}
  
.photo{
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
}
  
.photo1{
    background-image: url('alt.png');
    width: 250px;
    height: 250px;
}

.photo2{
    background-image: url('astra.png');
    width: 300px;
    height: 300px;
}
  
.photo3{
    background-image: url('redos.png');
    width: 250px;
    height: 300px;
}
